@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

h1{
   height:100px;
   width:200px;
   background-color:yellow;
   color:red;
   font-size:30px;
   font-family:'Rubik Moonrocks', cursive;
   font-style:italic;
   font-variant:small-caps;
   font-weight:bolder;
   //background-image:url(D:/Shital-Ramchandra-Mane/notepad-practice-html/img/Nature.jpg);
}
p{
   font-weight:bolder;
   font-variant:small-caps;
   font-size:35px;

}
span{
	font-size:22px;
	font-family:'Oswald', sans-serif;
	font-weight:bolder;
	font-variant:small-caps;
}

h2{
	color:blue;
	font-style:italic;
	
}

pre{
	background-color:yellow;
	color:red;
	
}