.container{
     height:110vh;
	 width:100%;
	 background-color:teal;
	 display:grid;
	 grid-template-areas:"header header header header" "left left left1  right1"
	   "right right right right1" "footer footer footer footer ";
	 gap:10px;
}
.header{
     height:100px;
	 background-color:red;
	 grid-area:header;
}
.left{
     height:300px;
	 background-color:gray;
	 grid-area:left;
}
.left1{
     height:300px;
	 background-color:yellow;
	 grid-area:left1;
}
.right{
     height:170px;
	 background-color:green;
	 grid-area:right;
}
.right1{
     height:470px;
	 background-color:pink;
	 grid-area:right1;
}
.footer{
     height:100px;
	 background-color:blue;
     grid-area:footer;
}