.box-1{
	height:200px;
	width:40%;
}

.box-2{
	height:200px;
	width:100%;
	margin:10px;
	/* background-color:red; */
	background-image:url(https://d3nn873nee648n.cloudfront.net/900x600/19867/300-SM970862.jpg);
	background-position:center;
	background-size:100%;
}

.box-3{
	height:200px;
	width:100%;
	color:red;
  position:absolute;
  display:none;
  background-color:white;
  opacity:0.7;
}
h1{
	position:absolute;
	top:30%;
	left:200px;
	
}
.box-2:hover  .box-3{
	display:block;
	/* opacity:0.5; */
}